:focus {
  outline-color: transparent;
  outline-style: none;
}

.dropdown {
  display: block;
  clear: both;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #555;
}

select {
  width: 100%;
  color: #000;
}

div.select-project, div.select-language, div.select-from, div.select-to {
  width: 100%;
}

.language .source, .language .target {
  width: 49%;
  margin-right: 0;
}

.language .source {
  float: left;
}

.language .target {
  float: right;
}

#submit {
  clear: both;
}

.Select-clear {
  display: none;
}

.dropdown {
  margin-left: 0;
}

.Select-item {
  padding: 1px 6px 8px 6px;
  margin: 0;
  width: 100%;
  color: #555;
}

.Select-item-icon {
  cursor: pointer;
  margin-right: 5px;
  color: #555;
}

.Select-item-icon:hover {
  color: #000;
}

.Select-clear-zone {
  display: none;
}
