$firefly: #223341;
$int-orange: #ff4f00;
$keyboard-grey: #abb5bd;
$keyboard-grey-10: #F6F7F8;
$keyboard-grey-20: #EEF0F2;
$keyboard-grey-40: #DDE1E5;
$keyboard-grey-60: #CDD3D7;
$keyboard-grey-80: #BCC4CA;
$keyboard-grey-dk: #373A3D;
$annotation-orange: #FFF6F1;
$body-text: #555555;

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import "react-select";
@import "forms";
@import "normalize";
@import "confirmation-link";
@import "font-awesome/font-awesome";

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: $body-text;
  font-weight: 400;
}

p, li {
  color: $body-text;
}

a, a:link {
  color: $int-orange;
}
a:hover {
  color: darken($int-orange, 5%);
  text-decoration: none;
}

h1 {
  font-size: 18px;
  color: $firefly;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  color: $firefly;
  line-height: 1.4;
}
label {
  color: $keyboard-grey-dk;
  font-weight: 400;
}
.main {
  position: relative;
  &.container {
    padding: 0;
  }
  width: 500px;
  background: white;
  //background: rgba(64, 77, 89, 1) url('../images/contours.svg') no-repeat 50% 50%;
  color: #e7e8ea;
  border: 1px solid lighten($keyboard-grey, 20%);
  &.logged-out {
    background: rgba(64, 77, 89, 1);
  }
}

.logo-and-slogan {
  position: relative;
  margin: 40px auto;
  text-align: center;
}

p.slogan {
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.social-login {
  margin: 0;
  padding: 0;
  width: 300px;
  margin: 40px auto;

  .fa {
    margin-right: 5px;
  }
  li {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
  }
  a {
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    i {
      margin-right: 5px;
    }
    &:hover {
      text-decoration: none;
    }
    &.facebook {
      color: #FFFFFF;
      background: #3B5998;
      &:hover {
        background: darken(#3B5998, 5%);
        text-decoration: none;
      }
    }
    &.twitter {
      background-color: #00aced;
      color: #fff;
      &:hover {
        background: darken(#00aced, 5%);
        text-decoration: none;
      }
    }
  }
}

nav, .content {
  position: relative;
  width: 100%;
}
header {
  nav {
    background: white;
    border-bottom: 1px solid $keyboard-grey-60;
    padding: 10px 15px;
  }

  nav {
    a {
      font-size: 14px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    ul li {
      display: inline-block;
      img {
        width: 75px;
        height: auto;
      }
    }
  }
}

nav.source-nav {
  ul {
    margin-bottom: 0;
  }
  a {
    font-size: 12px;
    cursor: pointer;
  }
  li {
    padding-right: 0;
  }
}

.btn {
  background: $int-orange;
  color: white;
}

.btn.focus, .btn:focus, .btn:hover {
  color: white;
  background: darken($int-orange, 5%);
}

.embed-container {
  background: $keyboard-grey-10;
  padding: 15px;
  border-bottom: 1px solid #EEF0F2;
  border-top: 1px solid #EEF0F2;

  h1 {
    color: $firefly;
    font-weight: 400;
    margin-top: 0;

    i {
      font-style: normal;
      text-transform: capitalize;
    }
  }

  img {
    width:460px;
    height: auto;
    opacity:.5;
  }
}

.tweet-metadata {
  font-size: 12px;
  font-weight: 400;
  color: $firefly;
}


.form-container {
  border-top: 1px solid $keyboard-grey-60;
  padding: 15px;
}


.translate-form {
  border-left: 3px solid $int-orange;
  padding: 0 20px 0 15px;
}

textarea {
  min-height: 64px;
  font-weight: 400;
}

textarea.form-control::-webkit-input-placeholder {
  color: lighten($body-text, 40%);
  font-size: 14px;
  font-weight: 400;
}

textarea.form-control:focus::-webkit-input-placeholder { color:transparent; }

.annotation {
  margin: 10px 20px 20px;
  background: $annotation-orange;
  padding: 0;
  textarea {
    background: $annotation-orange;
    border: none;
    box-shadow: none;
  }
}

.project, .language {
  margin: 10px 20px;
}

.language {
  margin-top: 20px;

  div {
    float: left;
    width: 100%;
    margin-right: 10%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.close-screen {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background: #fff url('../images/close.png') center center no-repeat;
  text-indent: -5000em;
  cursor: pointer;
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: $firefly;
}

svg.icon.icon-circle-down {
  fill: white;
}

.no-border-left {
  border-radius: 0 4px 4px 0;
}

.no-border-right {
  border-radius: 4px 0 0 4px;
}

.submit {
  margin: 20px 0;
  padding: 0 15px;
}

.submit.list-inline {
  a {
    color: white;
  }
  .cancel a {
    color: $int-orange;
  }
  li:nth-child(2) {
    margin-left: -10px;
  }
}

.hidden {
  display: none;
}

.cancel {
  display: inline;
  cursor: pointer;
}

#my-translations-link {
  cursor: pointer;
}

#my-translations {
  i {
    font-style: normal;
    text-transform: capitalize;
  }
}

#my-translations-pager {
  display: table;
  width: 100%;

  a {
    display: table-cell;
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
  }
}
