var config = {};

config.bridgeApiBase = 'https://check-api-qa.checkmedia.org';
config.bridgeEmbedBase = 'https://qa.checkmedia.org';
config.penderUrl = 'https://pender-qa.checkmedia.org';
config.pusherKey = '';

module.exports = config;
